@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  font-size: 0.875rem;
  line-height: 1.5;
}

.section-center {
  width: 90vw;
  margin: 8rem auto 0 auto;
  background: #fff;
  border-radius: 0.5rem;
  transition: all 0.3s linear;
  padding: 3rem;
  max-width: 35rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.section-center:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.shopping-form {
  color: hsl(205, 87%, 24%);
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-control {
  display: flex;
  justify-content: center;
}

#shopping-input-item {
  background: hsl(210, 36%, 96%);
  padding: 0.3rem 0.3rem 0.3rem 1rem;
  border-radius: 0.5rem;
  border-color: transparent;
  flex: 1 0 auto;
  color: hsl(210, 22%, 49%);
  font-size: 1rem;
}

#shopping-input-item::placeholder {
  font-family: 'Open Sans', sans-serif;
  color: hsl(210, 22%, 49%);
}

h1,
h3 {
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.8rem;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1.25rem;
  color: hsl(210, 22%, 49%);
}

.add-btn {
  text-transform: capitalize;
  cursor: pointer;
  background: hsl(205, 90%, 76%);
  font-size: 0.8rem;
  border-color: transparent;
  flex: 0 0 5rem;
  padding: 0.25rem;
  letter-spacing: 1px;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  content: #49a6e9;
  transition: all 0.2s linear;
}

.add-btn:hover {
  color: #fff;
  background: #49a6e9;
}

.shopping-list-container {
  visibility: hidden;
  margin-top: 2rem;
  transition: all 0.2s linear;
}

.shopping-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  padding: 0.25rem 1rem;
  border-radius: 0.3rem;
  transition: all 0.3s linear;
}

.shopping-list-item:hover {
  color: hsl(210, 22%, 49%);
  background: hsl(210, 36%, 96%);
}

.shopping-list-item:hover .title {
  color: hsl(210, 22%, 49%);
}

.title {
  color: hsl(209, 61%, 16%);
  letter-spacing: 1px;
  margin-bottom: 0;
  transition: all 0.2s linear;
}

.edit-btn,
.delete-btn {
  margin: 0 0.15rem;
  font-size: 0.7rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: all 0.2s linear;
}

.edit-btn {
  color: hsl(125, 71%, 66%);
}

.edit-btn:hover {
  color: hsl(125, 67%, 44%);
}

.delete-btn {
  color: hsl(360, 71%, 66%);
}

.delete-btn:hover {
  color: hsl(360, 67%, 44%);
}

.reset-btn {
  text-transform: capitalize;
  background: transparent;
  border-color: transparent;
  margin: 0 auto;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  margin-top: 1.25rem;
  color: hsl(360, 71%, 66%);
  transition: all 0.3s linear;
  cursor: pointer;
}

.reset-btn:hover {
  color: hsl(360, 67%, 44%);
}
